# Database — Railway lo genera automaticamente
DATABASE_URL="postgresql://user:password@host:5432/dbname"

# JWT Secret — cambia in produzione con una stringa casuale lunga
JWT_SECRET="ingly-secret-cambia-questo-in-produzione-abc123xyz"

# Next.js
NEXTAUTH_URL="http://localhost:3000"
